PAM==0.4.2
Pillow==2.9.0
PyJWT==1.0.0
Twisted-Core==15.2.1
Twisted-Web==15.2.1
adium-theme-ubuntu==0.3.4
apt-xapian-index==0.46
argparse==1.2.1
beautifulsoup4==4.3.2
blinker==1.3
ccsm==0.9.12.2
cffi==1.1.2
characteristic==14.3.0
chardet==2.3.0
colorama==0.3.3
compizconfig-python==0.9.12.2
cryptography==1.0.1
debtags==2.0
decorator==4.0.9
defer==1.0.6
dirspec==13.10
duplicity==0.7.2
enum34==1.0.4
f.lux-indicator-applet==1.1.8
gyp==0.1
html5lib==0.999
httplib2==0.9
idna==2.0
ipaddress==1.0.14
ipython==4.1.1
ipython-genutils==0.1.0
lockfile==0.10.2
lxml==3.4.4
ndg-httpsclient==0.4.0
numpy==1.8.2
oauthlib==1.0.0
oneconf==0.3.8
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.6
piston-mini-client==0.7.5
ply==3.7
ptyprocess==0.5.1
pyOpenSSL==0.15.1
pyasn1==0.1.8
pyasn1-modules==0.0.7
pycparser==2.14
pycrypto==2.6.1
pycups==1.9.73
pygobject==3.16.2
pygpgme==0.3
pyserial==2.7
python-apt==1.0.1+ubuntu0.1
python-debian==0.1.27
pyxdg==0.25
requests==2.7.0
service-identity==14.0.0
simplegeneric==0.8.1
six==1.9.0
software-center-aptd-plugins==0.0.0
system-service==0.1.6
traitlets==4.1.0
ubuntuone-client-data==14.4
unity-lens-photos==1.0
urllib3==1.11
wheel==0.26.0
wsgiref==0.1.2
xdiagnose==3.8.1
zope.interface==4.1.2
